body {
    background: #252432;
}

.title {
    text-align: center;
}

.title h1 {
    color:#8CFFFF;
    margin: 30px auto;
    text-align: center;
    border-bottom: 2px solid #93afb9;
    border-radius: 10px;
    padding-bottom: 20px;
}

.subtitle {
    width: 100%;
    /*border: 1px solid #93afb9;*/
    border: 1px solid #68FFFF;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    padding: 10px 0;
    margin: 30px 0 30px 0;
    /*background: #28415C;*/
    color: #f1b534;
}


.clazz {
    /*background:#1E222F;*/

    /*padding: 10px;*/
}
.box {
    /*border: 1px solid #313F55;*/
    border: 1px solid #68FFFF;
    border-radius: 10px;
    /*background-image: url("../images/border4.png");*/
    /*background-repeat: no-repeat;*/
    /*-webkit-background-size: cover;*/
    /*background-size: cover;*/
    /*-webkit-background-clip: content-box;*/
    /*background-clip: content-box;*/
}

.box h2 {
    text-align: center;
    padding: 10px 0 10px 0;
    /*padding: 20px 0 5px 0;*/
    color: white;
    background: #06498D;
    margin: 5px;
    /*border-bottom: 1px solid #3F4956;*/
}

.card {
    text-align: center;
    color: white;
    /*padding: 10px 0;*/
    margin: 10px 0;
    /*padding-left: 30px;*/
}

/*.card li {*/
/*    padding: 10px;*/
/*}*/

.card .network {
    text-align: left;
    padding: 0 0 0 10px;
    font-size: 14px;
}

.card .network span {
    color:white;
}

.card .ipAddress {
    overflow: hidden;
}

.card .ipAddress span {
    font-size: 14px;
    float: left;
    padding: 10px 0 10px 10px;
    color: #68FFFF;
}

.card .ipAddress p {
    font-size: 14px;
    float: left;
    padding: 12px 0 8px 10px;
    color: #68FFFF;
}

.card .time {
    text-align: left;
    padding-left: 10px;
    color: #5FB878;
}

.card .rate{
    text-align: left;
    /*padding: 10px 0 35px 10px;*/
    padding: 10px 0 15px 10px;
    font-size: 14px;
    color:#f1b534;
}


/*班牌状态统计*/
.state {
    border: 1px solid #68FFFF;
    border-radius: 10px;
    margin-top: 30px;
    width: 100%;
}

.state #container {
    height: 400px;
}