<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=renderer content=webkit>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta charset="UTF-8">
    <title>课程展示表</title>
    <style>
        .layui-row {
            margin: 0 20px;
        }
        .title  {
            /*width: 100%;*/
            /*border: 1px solid #cccccc;*/
            border-bottom: none;
            text-align: center;
            /*margin-top: 50px;*/
            /*background: #c3dce3;*/
        }

        .title h3 {
            width: 200px;
            margin: 20px auto;
            background: #F6C986;
            text-align: center;
            color: #8F6425;
            padding: 15px;
            border-radius: 20px;
        }

        table {
            /*border-top-left-radius: 10px;*/
            /*border-top-right-radius: 10px;*/
            border-collapse: collapse;
            width: 100%;
            /*border: 1px solid #ddd;*/
        }

        th, td {
            padding: 8px;
            text-align: center;
            /*border: 1px solid #ddd;*/
        }

        th {
            text-align: center;
            background: #28415C;
            color: white;
            /*border-bottom: 1px solid #ddd;*/
            /*background-color: #f2f2f2;*/
            /*background-color: #aed6e1;*/
        }
        /*tr {*/
        /*    border-bottom: 1px solid #ddd;*/
        /*}*/
        td {
            border-bottom: 1px solid #ddd;
            border-right: 1px solid #ddd;
        }
        tr:nth-child(2n+1) {
            background-color: #F4F9FD;
        }

        tr td:first-child {
            background: #28415C;
        }

        .custom-select {
            appearance: none; /* 移除浏览器默认样式 */
            -webkit-appearance: none; /* Safari 和 Chrome */
            -moz-appearance: none; /* Firefox */
            padding: 10px 1%; /* 添加内边距 */
            /*border: 1px solid #ccc; !* 添加边框 *!*/
            /*border-radius: 4px; !* 添加边框圆角 *!*/
            /*background-color: #f2f2f2; !* 添加背景颜色 *!*/
            font-size: 16px; /* 字体大小 */
            color: #333; /* 字体颜色 */
            text-align: center;
            margin: 0;
            width: 100%;
            border: none;
            background: none;
            outline: none;
        }
        .custom-select option {
            text-align: center;
            margin-top: 10px;
        }
        .button {
            /* padding: 15px 30px;
            background-color: #87CEFA; !* 浅蓝色 *!*/
            /*color: white;*/
            padding: 10px 20px;
            /*background-color: #009688;*/
            background: #009688;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            float: right;
            margin: 10px 10px 10px 0;
            /*text-align: center;*/
            /*text-decoration: none;*/
            /*display: inline-block;*/
            /*font-size: 16px;*/
            /*transition-duration: 0.4s;*/

        }

        /* 鼠标悬停样式 */
        .button:hover {
            background-color: #29A79B;
        }
    </style>
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-lg12 layui-col-md12 layui-col-sm12 layui-col-xs12" style="border: 1px solid #cccccc;margin-top: 70px;">
            <div class="title">
                <h3>
                    <span th:text="${clazz.clazzName}" ></span>
                    <span >课程展示表</span>
                </h3>
            </div>
            <input type="hidden" id="clazzId" th:value="${clazzId}">
            <table id="myTable">
                <tr>
                    <th>时间</th>
                    <th>第一节</th>
                    <th>第二节</th>
                    <th>第三节</th>
                    <th>第四节</th>
                    <th>第五节</th>
                    <th>第六节</th>
                    <th>第七节</th>
                </tr>
                <tr th:each="all:${alls}" class="render">
                    <!-- <td rowspan="4">上午</td> -->
                    <td style="display: none">
                        <select class="custom-select">
                            <option selected th:value="${all.id}"></option>
                        </select>
                    </td>
                    <td th:text="${all.day}" style="color:#28415C;"></td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}" th:selected="${all.firstClazz.id eq course.id}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}" th:selected="${all.secondClazz.id eq course.id}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}" th:selected="${all.thirdClazz.id eq course.id}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}" th:selected="${all.foutrhClazz.id eq course.id}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}" th:selected="${all.fifthClazz.id eq course.id}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                    <td><select class="custom-select" name="names">
                        <option th:each="course:${courseAll}" th:selected="${all.sixthClazz.id eq course.id}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}" th:selected="${all.lessonClazz.id eq course.id}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                </tr>

                <tr th:if="${alls.isEmpty()}" class="render">
                    <td style="display: none">

                    </td>
                    <td style="color:#28415C;">周一</td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                </tr>

                <tr th:if="${alls.isEmpty()}" class="render">
                    <td style="display: none">

                    </td>
                    <td style="color:#28415C;">周二</td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                </tr>

                <tr th:if="${alls.isEmpty()}" class="render">
                    <td style="display: none">

                    </td>
                    <td style="color:#28415C;">周三</td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                </tr>

                <tr th:if="${alls.isEmpty()}" class="render">
                    <td style="display: none">

                    </td>
                    <td style="color:#28415C;">周四</td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                </tr>

                <tr th:if="${alls.isEmpty()}" class="render">
                    <td style="display: none">

                    </td>
                    <td style="color:#28415C;">周五</td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                    <td><select class="custom-select">
                        <option th:each="course:${courseAll}"
                                th:text="${course.subject}" th:value="${course.id}"></option>
                    </select></td>
                </tr>





                <!--                <tr th:if="${alls.isEmpty()}" class="render">-->
                <!--                    <td style="color: white;background: #5492ec;">周一</td>-->
                <!--                    <td th:each="index : ${#numbers.sequence(1, 7)}"><select class="custom-select">-->
                <!--                        <option th:each="course:${courseAll}"-->
                <!--                                th:text="${course.subject}" th:value="${course.id}"></option>-->
                <!--                    </select></td>-->
                <!--                </tr>-->
                <!--                <tr th:if="${alls.isEmpty()}" class="render">-->
                <!--                    <td style="color: white;background: #5492ec;">周二</td>-->
                <!--                    <td th:each="index : ${#numbers.sequence(1, 7)}"><select class="custom-select">-->
                <!--                        <option th:each="course:${courseAll}"-->
                <!--                                th:text="${course.subject}" th:value="${course.id}"></option>-->
                <!--                    </select></td>-->
                <!--                </tr>-->
                <!--                <tr th:if="${alls.isEmpty()}" class="render">-->
                <!--                    <td style="color: white;">周三</td>-->
                <!--                    <td th:each="index : ${#numbers.sequence(1, 7)}"><select class="custom-select">-->
                <!--                        <option th:each="course:${courseAll}"-->
                <!--                                th:text="${course.subject}" th:value="${course.id}"></option>-->
                <!--                    </select></td>-->
                <!--                </tr>-->
                <!--                <tr th:if="${alls.isEmpty()}" class="render">-->
                <!--                    <td style="color: white;">周四</td>-->
                <!--                    <td th:each="index : ${#numbers.sequence(1, 7)}"><select class="custom-select">-->
                <!--                        <option th:each="course:${courseAll}"-->
                <!--                                th:text="${course.subject}" th:value="${course.id}"></option>-->
                <!--                    </select></td>-->
                <!--                </tr>-->
                <!--                <tr th:if="${alls.isEmpty()}" class="render">-->
                <!--                    <td style="color: white;">周五</td>-->
                <!--                    <td th:each="index : ${#numbers.sequence(1, 7)}"><select class="custom-select">-->
                <!--                        <option th:each="course:${courseAll}"-->
                <!--                                th:text="${course.subject}" th:value="${course.id}"></option>-->
                <!--                    </select></td>-->
                <!--                </tr>-->
            </table>

            <form id="course" style="overflow: hidden;">

                <input type="button" value="提交" class="button" onclick="save()">
            </form>
        </div>
    </div>
</div>



<script th:src="@{/third/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/third/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/third/js/jquery.metisMenu.js}" type="text/javascript"></script>
<script th:src="@{/third/js/hAdmin.js}" type="text/javascript"></script>
<script th:src="@{/third/lib/layui/layui.all.js}" type="text/javascript"></script>
<script th:src="@{/third/js/jquery.validate.min.js}" type="text/javascript"></script>
<script th:src="@{/third/js/layui.js}" type="text/javascript"></script>
<script th:src="@{/third/js/message_zh.min.js}" type="text/javascript"></script>
<script th:src="@{/third/js/validate_default.js}" type="text/javascript"></script>
<script th:src="@{/third/DataTables/datatables.min.js}" type="text/javascript"></script>
<script th:src="@{/third/js/jquery.slimscroll.min.js}" type="text/javascript"></script>
<script th:src="@{/third/js/global.js}" type="text/javascript"></script>
<script th:src="@{/third/js/sock.js}" type="text/javascript"></script>
<script th:src="@{/third/js/jquery.cookie.js}" type="text/javascript"></script>
<script th:src="@{/third/js/stomp.js}" type="text/javascript"></script>
<script>

    function save() {
        var rowData = [];
        $('#myTable tr.render').each(function (row, tr) {
            var split = '';
            $(tr).find('td').each(function (col, td) {
                // 选择包含 select 元素的 td 元素

                if ($(td).find('select').length > 0) {
                    // 获取被选中的选项的值
                    var selectedValue = $(td).find('select option:selected').val();
                    split += selectedValue
                    if (col < 8) {
                        split += ",";
                    }
                }
            });
            // 将行对象添加到数组中
            rowData.push(split);
        });
        var clazzId = $("#clazzId").val();
        var params = {
            rowData: rowData,
            clazzId: clazzId
        };
        $.ajax({
            url: 'coursePresentationUpadte',
            type: 'post',
            data: params,
            success: function (data) {
                if (data == 1) {
                    layer.msg("课程表成功", {"icon": 1, "time": 1000}, function () {
                        window.location.reload()
                    });
                }
            }
        })

    }


</script>
</body>
</html>
